## D3.js Dataset to JSON Data Converter

### Import Libraries

In [1]:
import pandas as pd
import numpy as np
import json
import warnings
from tqdm.notebook import tqdm
warnings.filterwarnings('ignore')
tqdm.pandas()

In [2]:
%%html
<style>
.cell-output-ipywidget-background {
    background-color: transparent !important;
}
:root {
    --jp-widgets-color: var(--vscode-editor-foreground);
    --jp-widgets-font-size: var(--vscode-editor-font-size);
}

In [8]:
df = pd.DataFrame(pd.read_csv('../data/imdb_imdb_tableau.csv'))
df.head()

,id,title,vote_average,vote_count,release_date,revenue,runtime,budget,original_language,popularity,production_companies,production_countries,keywords,overview_sentiment,actor_list,director,genre
0,27205,Inception,8.364,34495,2010-07-15,825532764,148,160000000,en,83.952,Legendary Pictures,United Kingdom,rescue,-0.011111,Leonardo DiCaprio,Christopher Nolan,Action
1,27205,Inception,8.364,34495,2010-07-15,825532764,148,160000000,en,83.952,Legendary Pictures,United Kingdom,rescue,-0.011111,Leonardo DiCaprio,Christopher Nolan,Science Fiction
2,27205,Inception,8.364,34495,2010-07-15,825532764,148,160000000,en,83.952,Legendary Pictures,United Kingdom,rescue,-0.011111,Leonardo DiCaprio,Christopher Nolan,Adventure
3,27205,Inception,8.364,34495,2010-07-15,825532764,148,160000000,en,83.952,Legendary Pictures,United Kingdom,rescue,-0.011111,Joseph Gordon-Levitt,Christopher Nolan,Action
4,27205,Inception,8.364,34495,2010-07-15,825532764,148,160000000,en,83.952,Legendary Pictures,United Kingdom,rescue,-0.011111,Joseph Gordon-Levitt,Christopher Nolan,Science Fiction

In [13]:
df2 = pd.DataFrame(pd.read_csv('../data/imdb_tmdb_cleaned.csv'))
df2.head()

,id,title,vote_average,vote_count,release_date,revenue,runtime,budget,original_language,popularity,production_companies,production_countries,keywords,overview_sentiment,actor_list,director,genre
0,27205,Inception,8.364,34495,2010-07-15,825532764,148,160000000,en,83.952,"['Legendary Pictures', 'Syncopy', 'Warner Bros...","['United Kingdom', 'United States of America']","['rescue', 'mission', 'dream', 'airplane', 'pa...",-0.011111,"['Leonardo DiCaprio', 'Joseph Gordon-Levitt', ...",['Christopher Nolan'],"['Action', 'Science Fiction', 'Adventure']"
1,157336,Interstellar,8.417,32571,2014-11-05,701729206,169,165000000,en,140.241,"['Legendary Pictures', 'Syncopy', 'Lynda Obst ...","['United Kingdom', 'United States of America']","['rescue', 'future', 'spacecraft', 'race again...",0.045455,"['Matthew McConaughey', 'Anne Hathaway', 'Jess...",['Christopher Nolan'],"['Adventure', 'Drama', 'Science Fiction']"
2,155,The Dark Knight,8.512,30619,2008-07-16,1004558444,152,185000000,en,130.643,"['DC Comics', 'Legendary Pictures', 'Syncopy',...","['United Kingdom', 'United States of America']","['joker', 'sadism', 'chaos', 'secret identity'...",0.025000,"['Christian Bale', 'Heath Ledger', 'Aaron Eckh...",['Christopher Nolan'],"['Drama', 'Action', 'Crime', 'Thriller']"
3,19995,Avatar,7.573,29815,2009-12-15,2923706026,162,237000000,en,79.932,"['Dune Entertainment', 'Lightstorm Entertainme...","['United States of America', 'United Kingdom']","['future', 'society', 'culture clash', 'space ...",0.041667,"['Sam Worthington', 'Zoe Saldana', 'Sigourney ...",['James Cameron'],"['Action', 'Adventure', 'Fantasy', 'Science Fi..."
4,24428,The Avengers,7.710,29166,2012-04-25,1518815515,143,220000000,en,98.082,['Marvel Studios'],['United States of America'],"['new york city', 'superhero', 'shield', 'base...",0.025000,"['Robert Downey Jr.', 'Chris Evans', 'Scarlett...",['Joss Whedon'],"['Science Fiction', 'Action', 'Adventure']"

In [9]:
df.dtypes

id                        int64
title                    object
vote_average            float64
vote_count                int64
release_date             object
revenue                   int64
runtime                   int64
budget                    int64
original_language        object
popularity              float64
production_companies     object
production_countries     object
keywords                 object
overview_sentiment      float64
actor_list               object
director                 object
genre                    object
dtype: object

In [14]:
df2.dtypes

id                        int64
title                    object
vote_average            float64
vote_count                int64
release_date             object
revenue                   int64
runtime                   int64
budget                    int64
original_language        object
popularity              float64
production_companies     object
production_countries     object
keywords                 object
overview_sentiment      float64
actor_list               object
director                 object
genre                    object
dtype: object

In [19]:
df_filtered = df[['title', 'genre']]
df_filtered.head()

       title            genre
0  Inception           Action
1  Inception  Science Fiction
2  Inception        Adventure
3  Inception           Action
4  Inception  Science Fiction

In [20]:
df_filtered.rename(columns={'title': 'source', 'genre': 'target'}, inplace=True)
df_filtered.head()

      source           target
0  Inception           Action
1  Inception  Science Fiction
2  Inception        Adventure
3  Inception           Action
4  Inception  Science Fiction

### JSON Conversion Function

In [21]:
def row_to_json(row):
    return row.to_dict()

In [ ]:
json_data = df.progress_apply(row_to_json, axis=1).tolist()
print(json_data[0])

  0%|          | 0/43174834 [00:00<?, ?it/s]

{'id': 27205, 'title': 'Inception', 'vote_average': 8.364, 'vote_count': 34495, 'release_date': '2010-07-15', 'revenue': 825532764, 'runtime': 148, 'budget': 160000000, 'original_language': 'en', 'popularity': 83.952, 'production_companies': 'Legendary Pictures', 'production_countries': 'United Kingdom', 'keywords': 'rescue', 'overview_sentiment': -0.0111111111111111, 'actor_list': 'Leonardo DiCaprio', 'director': 'Christopher Nolan', 'genre': 'Action'}

In [16]:
json_data2 = df2.progress_apply(row_to_json, axis=1).tolist()
print(json_data2[0])

  0%|          | 0/12173 [00:00<?, ?it/s]

{'id': 27205, 'title': 'Inception', 'vote_average': 8.364, 'vote_count': 34495, 'release_date': '2010-07-15', 'revenue': 825532764, 'runtime': 148, 'budget': 160000000, 'original_language': 'en', 'popularity': 83.952, 'production_companies': "['Legendary Pictures', 'Syncopy', 'Warner Bros. Pictures']", 'production_countries': "['United Kingdom', 'United States of America']", 'keywords': "['rescue', 'mission', 'dream', 'airplane', 'paris', 'france', 'virtual reality', 'kidnapping', 'philosophy', 'spy', 'allegory', 'manipulation', 'car crash', 'heist', 'memory', 'architecture', 'los angeles', 'california', 'dream world', 'subconscious']", 'overview_sentiment': -0.0111111111111111, 'actor_list': "['Leonardo DiCaprio', 'Joseph Gordon-Levitt', 'Elliot Page', 'Ken Watanabe', 'Tim Kelleher', 'Silvie Laguna', 'Natasha Beaumont', 'Kraig Thornber', 'Jack Murray', 'Adam Cole', 'Claire Geare', 'Marion Cotillard', 'Magnus Nolan', 'Tai-Li Lee', 'Shannon Welles', 'Taylor Geare', 'Tom Berenger', 'Coralie Dedykere', 'Carl Gilliard', 'Miranda Nolan', 'Earl Cameron', 'Yuji Okumoto', 'Helena Cullinan', 'Nicolas Clerc', 'Andrew Pleavin', 'Alex Lombard', 'Mark Fleischmann', 'Michael Gaston', 'Marc Raducci', 'Jack Gilroy', 'Nicole Pulliam', 'Shelley Lang', 'Lukas Haas', 'Russ Fega', 'Felix Scott', 'Ryan Hayward', 'Cillian Murphy', 'Dileep Rao', 'Jill Maddrell', 'Jean-Michel Dagory', 'Jason Tendell', 'Virgile Bramly', 'Tom Hardy', 'Tohoru Masamune', 'Michael Caine', 'Talulah Riley', 'Angela Nathenson', 'Lisa Reynolds', 'Peter Basham', 'Daniel Girondeaud', 'Johnathan Geare', 'Pete Postlethwaite']", 'director': "['Christopher Nolan']", 'genre': "['Action', 'Science Fiction', 'Adventure']"}

In [22]:
json_data_filtered = df_filtered.progress_apply(row_to_json, axis=1).tolist()
print(json_data_filtered[0])

  0%|          | 0/43174834 [00:00<?, ?it/s]

{'source': 'Inception', 'target': 'Action'}

### Export Data

In [ ]:
with open('../data/imdb_data_exploded.json', 'w') as json_file:
    json.dump(json_data, json_file)

In [18]:
with open('../data/imdb_data_unexploded.json', 'w') as json_file:
    json.dump(json_data2, json_file)

In [23]:
# Export json_data to a JSON file
with open('../data/imdb_data_exploded_filtered.json', 'w') as json_file:
    json.dump(json_data_filtered, json_file)